.sidenav {
    background-color: #a97b1f;
    width: 180px;
}

.sidenav i {
    color: #151515;
}
.nav-text {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 500;
    color: white;
}
.content {
    padding: 16px;
    background-color: #fff;
}

